<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Learn</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/learn.css">
</head>
<body>
    <h1>Learn</h1>
</body>
</html>